@model IList<BlogWeb.Models.Usuario>

@Html.ActionLink("Novo Usuario", "Usuario")

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Password<th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nome</td>
                <td>@u.Login</td>
                <td>@u.Password</td>
                <td>@u.Email</td>
            </tr>
        }
    </tbody>
</table>