@model BlogWeb.Models.ViewModels.PostViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    @using (Html.BeginForm("Altera", "Post", FormMethod.Post))
    {
        @Html.HiddenFor(p => p.Id)

        @Html.ValidationMessageFor(p => p.Titulo)
        @Html.LabelFor(p => p.Titulo, "Titulo")
        @Html.TextBoxFor(p => p.Titulo, new { @class = "form-control" })

        @Html.ValidationMessageFor(p => p.Conteudo)
        @Html.LabelFor(p => p.Conteudo, "Conteudo")
        @Html.TextAreaFor(p => p.Conteudo, new { @class = "form-control", rows = 10 })
        
        @Html.ValidationMessageFor( p => p.Tags )
        @Html.LabelFor(p => p.Tags, "Tags: ")
        @Html.TextBoxFor(p => p.Tags, new { @class="form-control"})

        @Html.ValidationMessageFor(p => p.DataPublicacao)
        @Html.LabelFor(p => p.DataPublicacao, "Data de Publicacao")
        @Html.TextBoxFor(p => p.DataPublicacao, new { @class = "form-control" })

        @Html.ValidationMessageFor(p => p.Publicado)
        @Html.LabelFor(p => p.Publicado, "Publicado?")
        @Html.CheckBoxFor(p => p.Publicado)
        
        @Html.DropDownListFor(p => p.AutorId, new SelectList(ViewBag.Usuarios, "Id", "Nome"), new { @class = "form-control"})

        <input type="submit" value="Altera" />
    }
</body>
</html>
@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}