@model BlogWeb.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    @using (Html.BeginForm("Altera", "Post", FormMethod.Post))
    {
        @Html.HiddenFor(p => p.Id);
        
        @*@Html.ValidationMessageFor(p => p.Titulo);*@
        @Html.LabelFor(p => p.Titulo, "Titulo");
        @Html.TextBoxFor(p => p.Titulo);

        @*@Html.ValidationMessageFor(p => p.Conteudo);*@
        @Html.LabelFor(p => p.Conteudo, "Conteudo");
        @Html.TextAreaFor(p => p.Conteudo);

        @*@Html.ValidationMessageFor(p => p.DataPublicacao);*@
        @Html.LabelFor(p => p.DataPublicacao, "Data de Publicacao");
        @Html.TextBoxFor(p => p.DataPublicacao);

        @*@Html.ValidationMessageFor(p => p.Publicado);*@
        @Html.LabelFor(p => p.Publicado, "Publicado?");
        @Html.CheckBoxFor(p => p.Publicado);

        @Html.ValidationSummary();

        <input type="submit" value="Altera" />
    }
</body>
</html>